<!--menu -->
<nav class="navbar navbar-inverse navbar-fixed-top theme-color-strong">
  <div class="container-fluid">
    <!-- collapsed NavBar-->
    <div class="navbar-header">
      <!-- Right button collapsed-->
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar">
        <!-- collapsed button bars -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home">
        Music/SP
      </a>
    </div>
    <!-- NavBar buttons-->
    <div  class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="logged()"><a ng-click="logout()">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
