#homeStyle .form-group {
  margin: 3% 0;
}

#homeStyle #addTaskButton {
  text-align:center;
  padding: 3%;
}

#homeStyle .filterButton {
  text-align: center;
}

#homeStyle .taskList {
  background-color: #fff;
  margin-top: 5%;
  border-radius: 10px;
}
