#homeStyle .form-group {
  margin: 3% 0;
}
/* user alert if input is too long*/
#homeStyle .errorInput {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(247, 0, 0, 0.79);
}

#homeStyle .errorInput:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(247, 0, 0, 0.79);
}

#homeStyle .textErrorInput {
  color: rgba(247, 0, 0, 0.79) !important;
  font-size: 90%;
}

#homeStyle #addTaskButton {
  text-align:center;
  padding: 3%;
}
