/* navbar buttons */
.navbar-inverse .navbar-nav>li>a {
  color:#fff;
  cursor: pointer;
}
/* home button */
.navbar-inverse .navbar-brand {
  color: #fff;
  cursor: default;
}
/* navbar buttons hover */
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color:#3F51B5 !important;
}

/* collapsed button focus */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #3F51B5;
}

/* collapsed button border */
.navbar-inverse .navbar-toggle {
  border-color: #1A237E
}
