#starterStyle input {
  margin: 5% 0;
}

#starterStyle #loginForm {
  margin-top: 25%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px 10px #4d4d4d;
  padding: 15px 40px;
}

h1 {
  font-size: 200%;
  text-align: center;
}
